body, html {
  height : 100%;
}
body {
  overflow-x: hidden;
}
p {
  font-size: 1.3em;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Kaushan Script",Helvetica,Arial,cursive;
  font-weight: 700;
}

h2{
  font-size: 3.8em;
}

.navbar-default {
  border-color: transparent;
  background-color: transparent;
  padding: 1% 0%;
  transition: background 0.7s ease-in-out, padding 0.7s  ease-in-out;
}
.navbar-default .navbar-brand {
  font-family: "Kaushan Script";
  font-weight: 800;
  color: #fff;
  font-size: 1.8em;
  line-height: 50px;
  padding: 6%;

}
.navbar-default .navbar-brand:hover,.navbar-deafult .navbar-brand:active{
  color: #fff;
  outline: 0;
}
.navbar-default .nav li a {
  text-transform: uppercase;
  font-family: "Cabin";
  letter-spacing: 1px;
  color: #fff;
  font-weight: 700;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  outline: 0;
  color: #41c4ab;
  background-color: #fff;
}
   
header{
  background-image: url("../images/background.jpg");
  text-align: center;
  background-size: cover;
  width: 100%;
  height:100%;
}

header h1{
  color: #41c4ab;
  font-size: 6.5em;
  font-weight: 800;
}
@media (max-width:480px){
  header h1{
    font-size: 3.75em;
    line-height: 1.5em;
  }
}
header .intro-text {
  padding-top: 15%;
}

header .intro-text .lead {
  font-family: "Cabin";
  font-size: 4.5em;
  color: #fff;
  font-weight: 700;
}

.btn-xl{
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow:0 0 0 4px #fff;
  font-size: 1.6em;
  padding: 1% 4%;
  margin-top: 5%;
  font-family: "Cabin";
}

.btn-xl:hover{
  color: #41c4ab;
  background-color: #fff;
  box-shadow: 0 0 0 6px #41c4ab;
}
section{
  padding: 9% 4%;
}
section h2{
  padding-bottom: 5%;
}

section.about, section.project{
  background-color: #f8f8f8;
}

section.about p{
  color: gray;
  font-family: "Cabin";
}

section.about img{
  margin: auto;
  border: solid 15px rgba(62, 68, 77, 0.5);
  width: 300px;
  height: 300px;
}
section.about h2{
  color: #41c4ab;
}

section.services, section.contact{
  background-image: url("../images/congruent_pentagon.png");
  background-attachment: scroll;
}

section.services li.item h3{
  font-family: "Cabin";
  text-transform: uppercase;
  font-weight: 600;
}
.icon-copy:before{content:"\f0c5";}
.icon-github-sign:before{content:"\f092";}


.ch-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.ch-grid:after,
.ch-item:before {
  content: '';
  display: table;
}

.ch-grid:after { clear: both }

.ch-grid li {
  width: 180px;
  height: 180px;
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}
.ch-grid li h3{
  font-family: "Cabin";
  color: #111;
  text-transform: uppercase;
}
.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: inset 0 0 0 8px #41c4ab;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.ch-img-1 { 
  background-image: url("../images/icon/mobile.png");
  background-size:50%;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center;
}
.ch-img-2 { 
  background-image: url("../images/icon/support.png");
  background-size:40%;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center;
}
.ch-img-3 {
 background-image: url("../images/icon/code.png");
  background-size:50%;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center;
}
.ch-img-4 {
  background-image: url("../images/icon/wordpress.png");
  background-size:40%;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center;
}
.ch-info {
  position: absolute;
  background: rgba(65,171, 196,0.8);
  width: inherit;
  height: inherit;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale();
  -moz-transform: scale();
  -ms-transform: scale();
  -o-transform: scale();
  transform: scale();
  -webkit-backface-visibility: hidden;
}

.ch-info h3 {
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  padding-top: 6%;
  font-family: "Cabin";
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
}

.ch-img-1 .ch-info h3, .ch-img-4 .ch-info h3{
  padding-top: 34%;
}
.ch-item:hover { box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1), 0 1px 2px rgba(0,0,0,0.1) }

.ch-item:hover .ch-info {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}

.ch-item:hover .ch-info p { opacity: 1 }
/*Section Projects*/
section.project h2{
  color: #41c4ab; 
} 
.grid {
  padding: 20px 20px 0px 20px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.grid li {
  display: inline-block;
  width: 450px;
  margin: 0;
  padding: 20px;
  text-align: left;
  position: relative;
}

.grid figure {
  margin: 0;
  position: relative;
}
.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
  border-radius: 2%;
}
.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #41c4ab;
  color: #fff;
}
.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Cabin";
}

.grid figcaption span:before {
  content: 'by ';
}

.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #111;
  color: #FFF;
  text-decoration: none;
}

.cs-style-1 figcaption {
  height: 100%;
  width: 100%;
  opacity: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 
  -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: 
   -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
  opacity: 1;
  border-radius: 2%;
  -webkit-transform: translate(15px, 15px);
  -moz-transform: translate(15px, 15px);
  -ms-transform: translate(15px, 15px);
  transform: translate(15px, 15px);
}

.cs-style-1 figcaption h3 {
  margin-top: 50px;
}

.cs-style-1 figcaption span {
  display: block;
}

.cs-style-1 figcaption a {
  margin-top: 30px;
}

@media screen and (max-width: 31.5em) {
  .grid {
    padding: 10px 10px 0px 10px;
  }
  .grid li {
    width: 100%;
    min-width: 300px;
  }
}

/*CONTACT SECTION*/

section.contact form div.form-group button{
  background-color: #41c4ab;
  color: #fff;
}
@media (max-width: 768px){
  section.contact form div.col-sm-3{
    text-align: center;
    margin-top: 3%;
  }
}

.contact-address span{
  font-size: 1.8em;
  font-weight: 700;
  padding-left: 7%;
  margin-top: 0px;
}
.address-li {
  padding: 0px;
  border-bottom: 2px solid #41c4ab;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
.address-li li {
  list-style:none;
  margin-bottom: 15px;
  position: relative;
  padding-left: 30px;
}
.address-li li:before {
  position: absolute;
  font-family: FontAwesome;
  color:#9397aa;
  left: 0px;
  font-size: 18px;
}
.address-li li i{
  padding-right: 3%;
  font-size: 20px;
}
.social-icons {
  padding: 0px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.social-icons li {
  display: inline-block;
}
.social-icons li a {
  color: #111;
  display: block;
  width: 40px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10%; 
}
.social-icons li a:hover{
  color: #41c4ab;
  text-decoration: none;
}
.social-icons li a:before {
  font-family: FontAwesome;
}

/*FOOTER*/


footer{
  background-color: #111;
  padding: 3% 4%;  
  color: #fff;
}
@media (max-width: 768px){
  footer{
    padding: 2% 2%;
    background: #111;
    height: 50px;
  }
}

footer a{
  font-size: 1.5em;
  color: #fff;
}

@media screen and (max-width: 31.5em) {
  section.services ul li {
    margin: 50px 0px 50px 10px;
  }
}
